{% extends 'layout.html' %}

{% load static %}

{% block content %}

<div class="container">
  <div class="main">
    <div class="image-placeholder">
    {% if livro.imagem %}
    <img src="{{ livro.imagem.url }}" alt="{{ livro.titulo }}">
    {% else %}
    <img src="{% static 'images/placeholder_livro.png' %}" alt="Capa indisponível">
    {% endif %}

    </div>

    <div>
      <h1>{{livro.titulo}}</h1>
      <p class="detalhes">{{livro.autor}} · {{livro.ano_lancamento}}</p>
      <p class="sinopse">{{livro.sinopse}}</p>

      <a href="{% url 'saberacao:atividades'%}?livro={{ livro.id }}" class="btn btn-primary">Ver publicações</a> | 
      <a href="{% url 'saberacao:atividades_publicar' %}" class="btn btn-success">Publicar um Trabalho</a>
    </div>

  </div>
</div>
{% endblock %}