{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
  {% for l in livros %}
    <div class="col">
    <div class="card mx-2" style="width: 12rem;">
    {% if l.imagem %}
      <img src="{{ l.imagem.url }}" class="card-img-top" alt="{{ l.title }}">
    {% else %}
      <img src="{% static 'images/placeholder_livro.png' %}" class="card-img-top" alt="Capa indisponível">
    {% endif %}
      <div class="card-body p-2 text-center">
        
        <a href="{% url "saberacao:livros_detalhes" l.id %}" class="stretched-link">
          <h5 class="card-title mb-0">{{ l.titulo }}</h5>
        </a>
      </div>
    </div>
    </div>
  {% endfor %}
  </div>
</div>


{% endblock %}